<!DOCTYPE html>
<html>
  <head>
    <title>FEN Submit</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
    <script>
    	const currentFen='<%=FEN %>';
    	const analyzeResult = '<%- analyzeResult %>';
    </script>
  </head>
  <body>
	<div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="js/eval.js"></script>
  </body>
<html>