<!DOCTYPE html>
<html>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  <head>
    <title>FEN Submit</title>
    
  </head>
  <body>
  <script>const currentFen='<%=FEN %>'</script>
    <h3> submit succeeded!</h3>
	<div id="root"></div>
    <p>FEN String: <%=FEN %></p>
    <p>Analyze Result: <%- analyzeResult %></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="js/eval.js"></script>
  </body>
<html>