<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Chess-Commentary-Automatic!</h1>
    <p>By donta1024, ishihara1989, interimadd, & AyatsujiP</p>
    <div id="root"></div>
    <div id="fen_form"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="js/out.js"></script>
    <script src="js/form.js"></script>
    
  </body>

</html>