<!DOCTYPE html>
<html>
  <head>
    <title>PGN Submit</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
    <script>
    	const currentFen='rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1';
    	const analyzeResult = '<%- analyzeResult %>';
    	const PGNtoAnalyze = '<%- pgn %>';
    </script>
  </head>
  <body>
	<div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="js/eval_pgn.js"></script>
  </body>
</html>