<!DOCTYPE html>
<html>
  <head>
    <title>FEN Submit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3> submit succeeded!</h3>
    <div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="static_out.js"></script>
    
    <p>FEN String: <%=FEN %></p>
    <p>Analyze Result: <%=analyzeResult %></p>
  </body>
  <script>
  	var chess = new Chess(<%=FEN %>);
  	
  </script>
<html>