<!DOCTYPE html>
<html>
  <head>
    <title>FEN Submit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3> submit succeeded!</h3>
    <p>FEN String: <%=FEN %></p>
    <p>Analyze Result: <%=analyzeResult %></p>
  </body>
<html>