<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Chess-Commentary-Automatic!</h1>
    <p>By donta1024, ishihara1989, interimadd, & AyatsujiP</p>
    <div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="out.js"></script>
    
    <div class="FEN_input">
		
		<p><input type="button" name="FENsubmit" value="submit FEN" onClick="submitFEN();"></p>
	<div> 
		<form name="FENSubmitForm" action="fensubmit" method="POST">
			<input type="hidden" name='FENtoAnalyze' value="">
		</form>
  </body>
  
  <script>
        var FENstring = document.getElementById("root").firstElementChild.lastElementChild.value;
        console.log(FENstring);
		function submitFEN(){
			document.forms.FENSubmitForm.FENtoAnalyze.value = FENstring;
			var f = document.forms["FENSubmitForm"];
			f.method = "POST";
			f.submit(); 
		};
　　</script>
</html>